<!DOCTYPE html>
<html lang="lt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Sveiki atvykę</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1 class="title">Todo + JWT</h1>

    <div id="homepage">
      <h2>Sveiki atvykę į užduočių sąrašą</h2>
      <p>
        Paprastas būdas sekti savo darbus ir pažymėti atliktus.<br />
        Norėdami tęsti, prisijunkite arba registruokitės.
      </p>

      <div class="home-buttons">
        <a href="/login"><input type="submit" value="Prisijungti" /></a>
        <a href="/register"><input type="submit" value="Registruotis" /></a>
      </div>
    </div>
  </body>
</html>
