<!DOCTYPE html>
<html lang="lt">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Todo</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div id="homepage">
      <nav>
        <a href="/login">Prisijungti</a> |
        <a href="/register">Registruotis</a>
      </nav>
    </div>
  </body>
</html>
